<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Gmail</title>
<meta name="application-name" content="Gmail">
<meta name="description" content="Google&#39;s approach to email">
<meta name="application-url" content="https://mail.google.com/mail">
<style>
body{margin:0;width:100%;height:100%}
body,td,input,textarea,select{font-family:arial,sans-serif}
input,textarea,select{font-size:100%}
</style>
</head>
<body >
  <a href="/buzztra/activities/">Activities</a>
  <form action="/buzztra/search" method=post>
  <input type="text" name="q">
  <input type="submit" name="SEARCH">
  </form>
  <form action="/buzztra/activities" method=post>
  <textarea name="body" ></textarea>
  <input type="submit" name="POST">
  </form>
</body>
</html>
