<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Buzzttra - minimul Buzz client</title>
<script type="text/javascript" src="/buzztra/js/prototype.js"></script>
<script type="text/javascript" src="/buzztra/js/base.js"></script>
<link rel="stylesheet" type="text/css" href="/buzztra/css/common.css" />
</head>
<body>


<div id="contentpane" class="widget"><h2>Contents</h2>
  <dl id="buzzlist" style="display: none;"></dl>
  <p id="progress" style="display: none;">Reading buzz&#8230;</p>
</div>

<form id="addForm" method="get" action="/buzztra/activities/">
<p><input type="submit" value="Get buzz!" /></p>
</form>

<hr />
  <form id="searchForm" method="post" action="/buzztra/search">
  <input type="text" name="q">
  <input type="submit" name="SEARCH" value="SEARCH">
  </form>
<hr />
Posting
  <form action="/buzztra/activities" method=post>
  <textarea name="body" ></textarea>
  <input type="submit" name="POST" value="POST your activity">
  </form>
</body>
</html>
